/*	General CSS stylsheet accross
	all three pages. Things were getting
	complicated, so I decided to make
	separate CSS files to help myself
	stay organized. 

*/


.header {
	position: static;
	height: 90px;
	border: red solid 5px;
	top: 0;
	
}

.header p {
	position: relative;
	float: right;
}

.header h1 {
	position: relative;
	float: left;
}

.content_area {
	border: solid purple 5px;
	margin-left: 10%;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 605px;
	width: 960px;
}

.main_section {
	border: solid orange 5px;
	position: absolute;
	float: left;
	width: 590px; /*total width is 650px*/
	height: 605px;
	padding-left: 30px;
	padding-right: 30px;
}


.connect_box {
	clear: both;
	position: relative;
	float: right;
	border: solid green 5px;
	width: 270px;
	height: 200px;
}




.footer {
	clear: both;
	position: static;
	bottom: 0;
	border: red solid 5px;
	height: 45px;
	text-align: center;
	padding-top: 40px;
}

